<div class="event-search-container">

   <div class="container">
      <div class="sidebar">
         <h2>Filtros de búsqueda</h2>
         <h3>Por categoría</h3>
         <div class="category-options">
            <label *ngFor="let category of categories" >
              <input type="radio" name="category" [(ngModel)]="selectedCategory" [value]="category"  (ngModelChange)="filterEvents()" />
              <span class="circle"></span>
              {{ category }}
            </label>
          </div>


         <h3>Por precio</h3>
         <label>
            <input type="radio" name="price" [(ngModel)]="selectedPrice" [value]="0" (ngModelChange)="filterEvents()" />
            Gratis
         </label>
         <label>
            <input type="radio" name="price" [(ngModel)]="selectedPrice" [value]="1" (ngModelChange)="filterEvents()"/>
            Precio: S/
            <input type="number" [(ngModel)]="minPrice" value="0" (ngModelChange)="filterEvents()"/> - S/
            <input type="number" [(ngModel)]="maxPrice" value="120" (ngModelChange)="filterEvents()"/>
         </label>
      </div>

      <div class="filtered-events-content" >
         <app-event-card-search *ngFor="let event of filteredEvents" [event]="event"></app-event-card-search>
      </div>
   </div>
</div>
