<div class="layout-container">
    <div class="content-container">

      <div class="banner">
          <img src="assets/customer-home/evento-principal.png" alt="Banner de Evento" class="banner-image">
      </div>

      <!-- Contenido principal -->
      <div class="home-container">
          <!-- Nueva sección de eventos -->
          <div class="event-section">
              <h2>Eventos que pueden ser de tu interés</h2>

              <!-- Primera fila de eventos -->
              <div class="event-row">
                  <div *ngFor="let event of events.slice(0, 4)" class="event-item" [routerLink]="['/customer/events', event.id]">
                      <img [src]="event.imageUrl" alt="{{ event.name }}" class="event-image">

                      <div class="event-info">
                        <p class="event-title">{{ event.name }}</p>
                        <p class="event-date">{{ event.programation.date }}</p>
                        <p class="event-price" *ngIf="event.price > 0">Desde ${{ event.price }}</p>
                        <p class="event-free" *ngIf="event.price === 0">Gratis</p>
                      </div>
                  </div>
              </div>

              <!-- Segunda fila de eventos -->
          <div class="discover-section">
              <h2>Descubre</h2>
              <div class="event-row">
                <div *ngFor="let event of events.slice(4, 8)" class="event-item" [routerLink]="['/customer/events', event.id]">
                    <img [src]="event.imageUrl" alt="{{ event.name }}" class="event-image">
                    <div class="event-info">
                      <p class="event-title">{{ event.name }}</p>
                      <p class="event-date">{{ event.programation }}</p>
                      <p class="event-price" *ngIf="event.price > 0">Desde ${{ event.price }}</p>
                      <p class="event-free" *ngIf="event.price === 0">Gratis</p>
                    </div>
                </div>
            </div>
        </div>
          </div>
      </div>

    </div>
  </div>
