<div class="form-registro-container">
  <div class="form-registro-container">
    <h3>{{event?.name}}</h3>
    <p *ngIf="event?.price===0">Gratis</p>
    <p *ngIf="event?.price !== 0">{{event?.price}}</p>
    <img [src]="event?.imageUrl" alt=".">
  </div>
  <div class="form-registro-formulario">
    <div class="registration-part">
      <h1>Formulario de registro</h1>
      <form [formGroup]="formRegisEvent" (ngSubmit)="onSubmit()">
        <div class="names">
          <input formControlName="nombre" type="text" placeholder="Nombres" name="nombre" required>
          <input formControlName="apellidos" type="text" placeholder="Apellidos" name="apellidos" required>
        </div>
        <input formControlName="email" type="email" placeholder="Correo electronico" name="email" required>
        <input formControlName="telefono" type="text" placeholder="Telefono" name="telefono" required>
      </form>
    </div>
    <div class="paymment-part" >
      <h1>Metodo de pago</h1>

    </div>
  </div>
</div>
