a {
  text-decoration: none;
}

.event-detail-container {
  padding: 3em 6em;
  display: flex;
  flex-direction: column  ;
  gap: 2em;
  align-items: center;
}

.event-card-container {
  min-height: 590px;
  display: flex;
  flex-direction: row;
  width: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2em;
  overflow: hidden;
  flex-wrap: wrap-reverse;
  width: 90%;
}

.event-card-description {
  flex: 2;
  padding: 3em 4em;
  display: flex;
  flex-direction: column;
  gap: 1.8em;

  h1 {
    font-size: 3.5em;
    color: #3E677C;
  }
}

.event-card-places {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;

  .event-place {
    font-size: 1.2em;
  }

  i {
    font-size: 1.5em;
  }
}

.event-card-date {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;

  .event-date {
    font-size: 1.2em;
  }

  i {
    font-size: 1.5em;
  }
}

.event-card-image {
  flex: 3;

  img {
    width: 100%;
    height: 100%;
    min-width: 350px;
    object-fit: cover;
  }
}

.event-card-price {
  color:#0A8754;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;

  .event-price {
    font-size: 1.2em;
  }

  p {
    margin: 0;
    font-weight: 700;
  }

  i {
    font-size: 1.5em;
  }
}

.event-regis-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-top: auto;
}

.register-button {
  background-color: #0A8754;
  color: white;
  padding: 1em 2em;
  border-radius: 1em;
  font-size: 1.1em;
}



.event-especifications {
  padding: 0.5em 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;

  h2 {
    font-size: 3em;
    color: #3E677C;
  }
}

.event-detail-description {
  p {
    margin-top: 1em;
    font-size: 1.3em;
    color: #3E677C;
  }
}

.event-detail-objectives {

  ul {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
  }

  li {
    font-size: 1.3em;
    color: #3E677C;
  }
}

.event-detail-about {
  p {
    margin-top: 1em;
    font-size: 1.3em;
    color: #3E677C;
  }
}

.event-detail-organizers {

  ul {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
  }

  li {
    font-size: 1.3em;
    color: #3E677C;
  }
}

.event-detail-more {
  width: 100%;
  padding: 0 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.more-information-button {
  display: flex;
  gap: 1.5em;
  flex-direction: row;
  align-items: center;
  background-color: #0A8754;
  color: white;
  padding: 1em 2em;
  border-radius: 1em;
  font-size: 1.1em;

  p {
    margin: 0;
    font-size: 1.1em;
  }
}

.event-regis-button-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

@media (width <= 1250px) {
  .event-detail-container {
    padding: 2em 0;
  }
}

@media (width <= 600px) {
  .event-detail-more {
    flex-direction: column;
    gap: 2em;
    align-items: center;
    .more-information-button {
      width: 100%;
    }
  }

  .event-card-description {
    padding: 1.5em 2em;

    h1 {
      font-size: 2.4em;
    }
  }
}
