.event-card-search-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1.3em 2.6em;
  border-radius: 1.4em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.event-card-search-image {
  height: 150px;
  width: 45%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
  }
}

.event-card-search-info {
  width: 50%;
}

.event-card-search-info h3 {
  font-size: 2.4em;
  color: #4a4a4a;
  margin: 0;
}

.CancelButton{
  background-color: #EF4444;
  color: white;
  padding: 1em 2em;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.CancelButton:hover{
  background-color: #bf1515d3;
}

.FechaPrecioBoton{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .event-card-search-container {
    flex-direction: column;
    padding: 1.3em 1.3em;
  }

  .event-card-search-image {
    width: 100%;
    height: 200px;
  }

  .event-card-search-info {
    width: 100%;
  }

  .event-card-search-info h3 {
    font-size: 1.8em;
  }
}
