<nav>
  <a routerLink="/" routerLinkActive="active" class="navbar-home-button">
    <h1>AROUND US</h1>
    <img src="assets/aroundus-logo.png" alt="AroundUsLogo">
  </a>
  <div class="navbar-auth-buttons">
    <a routerLink="/auth/login" routerLinkActive="active" class="login-button"><span>Iniciar Sesion</span></a>
    <a routerLink="/auth/register" routerLinkActive="active" class="register-button"><span>Registrarse</span></a>
    <a routerLink="/customer/customer-layout" routerLink="active" class="customer-button"><span>Nose</span></a>
  </div>
</nav>
