body {
  background-color: #5AD8FB20;
  font-family: Arial, sans-serif;
}
.content{
  background-color: #5AD8FB20;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}
.btn-custom {
  background-color: #5bc0de;
  color: white;
  border-radius: 20px;
}
.btn-custom-green {
  background-color: #5cb85c;
  color: white;
  border-radius: 20px;
}
.btn-custom-green:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
.small {
  font-size: 0.875rem;
}
.text-success {
  color: #5cb85c;
}
.text-danger {
  color: #d9534f;
}
ul {
  margin: 5px 0;
  padding-left: 20px;
}
