<div class="navbar-micu-container">
  <H1>Configuracion</H1>
  <hr>
  <div class="navbar-micu-buttons">
    <a class="navbar-micu-buttons-security navbar-buttons" routerLink="/customer/config/security" routerLinkActive="active-button">
      <i class="fas fa-lock"></i>
      <span>Seguridad</span>
    </a>
    <a class="navbar-micu-buttons-privacy navbar-buttons" routerLink="/customer/config/privacy" routerLinkActive="active-button">
      <i class="fas fa-shield-alt"></i>
      <span>Privacidad</span>
    </a>
  </div>
</div>

