/* Estilo general para la página */
.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Estilo para la mitad de la imagen */
.image-section-register {
  flex: 1;
  position: relative;
}

.background-image-register {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilo para la mitad del formulario de registro */
.form-section-register {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #ffffff;
  position: relative;
}

/* Estilo para el logo y el texto al lado */
.header-container-register {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.logo-text-register {
  font-size: 24px;
  font-weight: bold;
  color: #0A8754;
}

.logo-container-register {
  align-self: flex-end;
}

/* Botón "Volver al inicio" */
.return-button-register {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.return-button-register::before {
  content: "←"; /* Añadir la flecha como un pseudo-elemento */
  margin-right: 5px; /* Espaciado entre la flecha y el texto */
}

/* Estilos para el formulario */
.register-form-section {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3em;
}

.register-form-section h2 {
  text-align: center;
}

.register-form-section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.register-form-section label {
  font-size: 14px;
  color: #333;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.register-form-section input {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

/* Estilos para los textos de error */
.register-form-section p {
  color: red;
  font-size: 12px;
  margin-top: -10px;
}

/* Estilo para el botón de registro */
.register-form-section button {
  width: auto;
  padding: 8px 40px;
  font-size: 14px;
  color: black;
  background-color: #12D585;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form-section button:hover {
  background-color: #555;
}

/* Estilo para el enlace de '¿Ya tienes una cuenta?' */
.login-register {
  text-align: center;
  padding: 2%;
  font-size: 14px;
  color: #333;
}

.login-register a {
  color: blue;
  text-decoration: none;
  margin-left: 5px;
}

.login-register a:hover {
  text-decoration: none;
}
