<footer>
  <div class="footer-rights-container">
    <img src="assets/aroundus-logo.png" alt="AroundUsLogo">
    <p class="footer-rights">&copy; Around Us | todos los derechos reservados</p>
  </div>
  <div class="footer-social-container">
    <a href="#">
      <img src="assets/facebook-logo.svg" alt="facebook" class="social-logo">
    </a>
    <a href="#">
      <img src="assets/instagram-logo.svg" alt="instagram" class="social-logo">
    </a>
    <a href="#">
      <img src="assets/x-logo.svg" alt="x" class="social-logo">
    </a>
    <a href="#">
      <img src="assets/linkedin-logo.svg" alt="linkedin" class="social-logo">
    </a>
  </div>
</footer>
