<footer>
  <div class="footer-rights-container">
    <img src="assets/aroundus-logo.png" alt="AroundUsLogo">
    <p class="footer-rights">&copy; Around Us | todos los derechos reservados</p>
  </div>
  <div class="footer-social-container">
    <a href="https://www.facebook.com/people/Hamp-Code/61555873872771/?_rdr" target="_blank">
      <img src="assets/facebook-logo.svg" alt="facebook" class="social-logo">
    </a>
    <a href="https://www.instagram.com/hampcode/" target="_blank">
      <img src="assets/instagram-logo.svg" alt="instagram" class="social-logo">
    </a>
    <a href="https://www.youtube.com/c/hampcode" target="_blank">
      <img src="assets/x-logo.svg" alt="x" class="social-logo">
    </a>
    <a href="https://www.linkedin.com/company/champcodeacademy/?trk=ppro_cprof&originalSubdomain=id" target="_blank">
      <img src="assets/linkedin-logo.svg" alt="linkedin" class="social-logo">
    </a>
  </div>
</footer>