<div class="navbar-micu-container">
  <div *ngIf="user" class="navbar-micu-user-card">
    <img *ngIf="user.imageURL" [src]="user.imageURL"/>
    <div class="navbar-micu-info">
      <h6>{{user.firstName}} {{user.lastName}}</h6>
      <p>&#64;{{user.username}}</p>
    </div>
  </div>
  <hr>
  <div class="navbar-micu-buttons">
    <a class="navbar-micu-buttons-infoper navbar-buttons" routerLink="micuenta/informacion-personal" routerLinkActive="active-button">
      <i class="fa-regular fa-user"></i>
      <span>Informacion Personal</span>
    </a>
    <a class="navbar-micu-buttons-pref navbar-buttons" routerLink="micuenta/preferencias" routerLinkActive="active-button">
      <i class="fa-solid fa-sliders"></i>
      <span>Preferencias</span>
    </a>
  </div>
</div>

