
<app-navbar-mi-cuenta></app-navbar-mi-cuenta>

<div class="layout-container">
  <div class="content-container">
    <router-outlet></router-outlet>
    <app-navbar-customer></app-navbar-customer>

    <div class="banner">
        <img src="assets/customer-home/evento-principal.png" alt="Banner de Evento" class="banner-image">
    </div>
  
    <!-- Contenido principal -->
    <div class="home-container">
        <!-- Nueva sección de eventos -->
        <div class="event-section">
        <h2>Eventos que pueden ser de tu interés</h2>
        <div class="event-images">
            <div class="event-item">
            <img src="assets/customer-home/algorythm-evento.png" alt="Evento Algorythm" class="event-image">
            <div class="event-info">
                <p class="event-title">Algorythm+| How to Navigate AI Landscape?</p>
                <p class="event-date">Viernes, 7 de noviembre de 2024<br>
                a las 19:00 + 148 más<br>
                Algorythm Online Classroom</p>
                <p class="event-free">Desde $49.99</p>
            </div>
            </div>
            <div class="event-item">
            <img src="assets/customer-home/hackathon-evento.png" alt="Evento Hackathon" class="event-image">
            <div class="event-info">
                <p class="event-title">Ayni Hackaton 2024</p>
                <p class="event-date">Sabado, 8 de Noviembre de 2024</p>
                <p class="event-free">Gratis</p>
            </div>
            </div>
            <div class="event-item">
            <img src="assets/customer-home/ai-connect-evento.png" alt="Evento AI Connect" class="event-image">
            <div class="event-info">
                <p class="event-title">AI Connect 2024: Connecting Minds, Driving Change</p>
                <p class="event-date">Martes, 5 de noviembre de 2024<br>
                16:00 - 20:00</p>
                <p class="event-free">Gratis</p>
            </div>
            </div>
            <div class="event-item">
            <img src="assets/customer-home/women-ai-evento.png" alt="Evento Women AI" class="event-image">
            <div class="event-info">
                <p class="event-title">Women in AI & Blockchain: Impulsando el cambio y liderando la revolución tecnológica I 06.11</p>
                <p class="event-date">Miércoles, 6 de noviembre de 2024<br>
                17:00 - 20:30</p>
                <p class="event-free">Gratis</p>
            </div>
            </div>
        </div>
        </div>
    
        <div class="discover-section">
        <h2>Descubre</h2>
        <div class="event-images">
            <div class="event-item">
            <img src="assets/customer-home/PMxIA-evento.png" alt="Evento PMxIA" class="event-image">
            <div class="event-info">
                <p class="event-title">PMxIA Day 2024: Inteligencia Artificial en Dirección de Proyectos</p>
                <p class="event-date">Viernes, 8 de noviembre de 2024<br>
                8:30 - 18:00</p>
                <p class="event-free">Desde S/400</p>
            </div>
            </div>
            <div class="event-item">
            <img src="assets/customer-home/chela-evento.png" alt="Evento Chela" class="event-image">
            <div class="event-info">
                <p class="event-title">La chela de los founders By Traund
                <p class="event-date">Viernes, 8 de noviembre de 2024<br>
                18:00 - 21:00</p>
                <p class="event-free">Gratis</p>
            </div>
            </div>
            <div class="event-item">
            <img src="assets/customer-home/codeon-evento.png" alt="Evento CodeOn" class="event-image">
            <div class="event-info">
                <p class="event-title">CodeOn 2024</p>
                <p class="event-date">sábado, 9 de noviembre<br>
                9:00 - 18:00</p>
                <p class="event-free">Gratis</p>
            </div>
            </div>
            <div class="event-item">
            <img src="assets/customer-home/pisco-night-evento.png" alt="Evento Pisco Night" class="event-image">
            <div class="event-info">
                <p class="event-title">Pisco Sour Tech Night by Worthit</p>
                <p class="event-date">lunes, 4 de noviembre<br>
                19:00 - 22:00</p>
                <p class="event-free">Gratis</p>
            </div>
            </div>
        </div>
        </div>
    </div>

        <!-- Sección "Descubre Grupos" -->
    <div class="discover-groups-container">
        <h2 class="discover-groups-title">Descubre grupos o crea uno nuevo</h2>
        <div class="buttons">
          <div class="button">
            <div class="button-text">Buscar grupos</div>
            <i class="fas fa-search"></i>
          </div>
          <div class="button">
            <div class="button-text">Crear grupo</div>
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
  </div>
</div>

<app-footer></app-footer>